@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@theme {
    --color-theme: #1e1e23;
}

@layer components {
    .tag {
        @apply rounded-full bg-gray-100/10 p-2 text-sm text-white/80;
    }
    .p-layout {
        @apply xl:px-20 max-xl:px-6 py-4
    }
}