@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@theme {
    --color-theme: #1e1e23;
}

@layer components {
    .tag {
        @apply rounded-full bg-gray-100/10 p-2 text-sm text-white/80;
    }
    .p-layout {
        @apply xl:px-20 max-xl:px-6 py-4
    }
    .arrow-button {
        @apply absolute xl:top-1/2 md:top-full md:mt-4 top-1/2 h-12 w-12 z-10 rounded-full p-2 bg-theme hover:bg-theme/80 hover:cursor-pointer
    }

    /* CSS for Card effects */
    .effect {
        @apply inline-block p-1 my-0.5 mr-0.5 leading-none font-medium rounded-lg border border-white text-white
    }
    .blue-effect {
        @apply bg-[#007cbe]
    }
    .orange-effect {
        @apply bg-[#dc7426]
    }
    .red-effect {
        @apply bg-[#dc3b51]
    }
    .yellow-effect {
        @apply bg-[#f1e806] text-black
    }
    .black-effect {
        @apply bg-black
    }
}